h1{
  padding-top: 5px;
  margin-top: 0px;
}

.navbar-container{
  background-color: rgb(224, 224, 224);
  flex-wrap: flex;
  text-align: center;
  padding-bottom: 5px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 1em;
}

.top-score {
  color: rgb(235, 46, 46);
}

.score {
  color: blue;
}

@media screen and (max-width: 1020px){
  .navbar-container {
    width: 405px;
    margin: auto;
  }
}